/****************************************
 * VARIAVEIS *
 ****************************************/
/////// CORES VARIAVEIS
$preto: #333;
$cinza: #ededed;

$cores-grafismos: "azul", "laranja", "rosa", "roxo";
$n-grafismos: 4;

// $azul: #016682;
// $laranja: #953A1E;
// $rosa: #A51948;
// $roxo: #6D185C;

$cores-livros: (
	azul: #016682,
	laranja: #953A1E,
	rosa: #A51948,
	roxo: #6D185C
);


/////// MEDIA QUERIES e TAMANHOS
$container: 1000px;
$smart-maior: 680px;
$smart-menor: 500px;
$celular: 380px;

$artigo: 760px;


/////// IMPORTACOES
@import "../bourbon/bourbon";
@import "../padroes/reset";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&display=swap');


/////// MIXINS
@mixin flex($dir) {
    @include display(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content($dir);
}

/****************************************
 * DEFINICOES E FORMATACOES DE TEXTO *
 ****************************************/
// links
a {
	&:link, &:visited, &:active, &:focus {
		outline: 0;
		color: inherit;
		@include transition(all 0.3s ease-in-out);
		text-decoration:none;
	}

	&:hover, &:focus {text-decoration: underline;}

	&:focus { font-weight: bold; }
}
b, strong {
	font-weight: bold;
	color: inherit;
}
u {
	text-decoration: underline;
}
i, em {
	color: inherit;
	font-style: italic;
}
s, del {
	text-decoration: line-through;
}

small {
	font-size: 80%;
}

center {
	text-align: center;
}

// titulos
h1, h2, h3, h4, h5 {
	line-height: 1.3;
	display: block;
	color: inherit;
    font-weight: bold;
    font-family: inherit;

	a {
		color: inherit !important;
		text-decoration:none !important;
	}
}

h1 {
    font-size: 2.1em; 
    article {font-size: 1.9em;}
    @media (max-width: $smart-maior) {font-size: 1.9em; }
}

h2 { 
	font-size: 1.7em;
	@media (max-width: $smart-maior) {font-size: 1.5em; }
}
h3 { 
	font-size: 1.4em;
	@media (max-width: $smart-maior) {font-size: 1.25em; }
}
h4 { 
	font-size: 1.25em;
	@media (max-width: $smart-maior) {font-size: 1.2em; }
}
h5 { 
	font-size: 1.1em;
	@media (max-width: $smart-maior) {font-size: 1em; }
}
h6 { font-size: 1em;}

// quote
blockquote {
	font-size: 1em;
	color: inherit;

	p:last-of-type {margin-bottom: 0;}
}

// divisoria
hr {
	display: block;
	width: 280px;
	margin: 2em auto;
    border: 0;
    padding: 0;
    height: 7px;
    background: $cinza;
    position: relative;
    overflow: inherit;
}

// caixas de dialogo
input, button, textarea {
	@include appearance(none);
	border: 0;
	outline: 0;
}

textarea {
	height: 200px;
	padding: .5em;
	line-height: 1.65;
}

// botoes
button.botao {
	display: inline-block;
	background: $preto;
	font-size: 1em;
	line-height: 1; color: white;
	padding: .7em 2em 1em; letter-spacing: 0.09em;
	font-family: inherit; cursor: pointer;
	@include transition(background 0.15s ease-in-out);
}

// video
.video {
	padding-bottom: 50.4%;
	padding-top: 30px;
	width: 100%;
	font-size: 0; margin-bottom: 35px;
	position: relative;
	
	iframe, object, embed, .mascara {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;		
		// padding-bottom: 2.5%
	}
}

// definicoes
.clear {
	clear: both;
}

.hidden {
    display: none;
}

// alinhamentos
.esquerda {text-align: left;}
.direita {text-align: right;}
.centralizado {text-align: center;}


/****************************************
 * MODAL PARA AS NOTAS *
 ****************************************/
.abrir_nota {
	font-size: 0.8em; cursor: pointer;
    background: $cinza; color: $preto;
    padding: .2em .3em; display: inline-block;
    font-weight: bold; border-radius: 3px;
	border: 3px solid $cinza;

    &:focus, &:hover {
		border-color: $preto;
    }
}

.modalOverlay {
	width:100%; height:100%;
	z-index:10;
	background-color: black; opacity:0.7;
	position:fixed;
	top:0; left:0;
	display:none; 
	margin:0; padding:0;	
}

.modal {
	width: 500px;
	max-width: 98%;
	margin: 0 auto;
	padding: 1.5em;
	border: 0; background-color: white;
	z-index: 11; box-shadow: 0 0 20px transparentize(black,0.6);
	position:fixed; top: 50%; left:50%;
	@include transform(translate(-50%,-50%));
	display:none;

	div[role="document"] {
		position: relative;

		p {margin: 0;}
	}
	
	& > button {
		font-size: 40px; color: $preto;
		position: absolute;	right: 0; top: 0;
		width: 27px; height: 27px; line-height: 27px;
		text-align: center; padding: 0;
	}
}

#explicaNota {
	position: absolute; width: 0; height: 0; visibility: hidden; overflow: hidden; opacity: 0;
}
